.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 1000px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.calendar.collapsed {
    max-height: 180px;
}


.calendar__weekdays {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 20px;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
}

.calendar__days.collapsed {}

.toggleWeek {
    width: 100%;
    text-align: center;
    cursor: pointer;
}